
@{
    ViewData["Title"] = "Список студентов";
    int i = 1;
}
<h3>Студенти</h3>
<table class="table-condensed">
    <tr>
        <td>№</td>
        <td>ПІБ</td>
        <td>Група</td>
        <td>Рейтинг</td>
        <td>Додаткова інформація</td>
    </tr>
    @foreach (NUREMarks.Models.StudentData p in Model)
    {
        <tr>
            <td>@(i++)</td>
            <td>@p.Name</td>
            <td>@p.Group</td>
            <td>@(p.Rating == 0 ? "не розраховується" : p.Rating.ToString())</td>
            <td>@p.Info</td>
        </tr>

        @if (i > 2000)
        {
            break;
        }

    }
</table>