@model List<StudentData>

@{
    ViewData["Title"] = ViewData["Department"] + ", " + ViewData["Course"] + " курс";
    int i = 1;

}

<div id="ratings-header">
    <h3>Факультет @ViewData["Faculty"]</h3><br />
    <h4>Рейтинг студентів @ViewData["Course"] курсу @ViewData["Type"]</h4>
    <h4>Спеціальності "@ViewData["Department"]"</h4><br />
    <h4>Семестр: осінь 2016</h4><br />
</div>
<div>
    <a class="btn btn-info big-btn" asp-controller="Ratings" asp-action="SaveSpecialityDoc" asp-route-dep="@ViewData["Dep"]" asp-route-course="@ViewData["Course"]" target="_blank">Сохранить в формате .DOCX</a>
    <a class="btn btn-success big-btn" asp-controller="Ratings" asp-action="SaveSpecialityExcel" asp-route-dep="@ViewData["Dep"]" asp-route-course="@ViewData["Course"]" target="_blank">Сохранить в формате .EXCEL</a>
    <a class="btn btn-danger big-btn" asp-controller="Ratings" asp-action="SaveSpecialityPdf" asp-route-dep="@ViewData["Dep"]" asp-route-course="@ViewData["Course"]" target="_blank">Сохранить в формате .PDF</a>
</div>
<table class="table ratings-table">
    <thead>
        <tr>
            <th>№</th>
            <th>Имя студента</th>
            <th>Группа</th>
            <th>Рейтинг</th>
            <th>Дополнительная информация</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr @(ViewBag.Paid >= i && p.Rating > 0 ? "class=paid" : "")>
            
                <td>@(i++)</td>
                @{
                    if (User.IsInRole("admin"))
                    {
                        <td><a asp-controller="Profile" asp-action="Student" asp-route-id="@p.Id">@p.Name</a></td>
                    }
                    else
                    {
                        <td>@p.Name</td>
                    }
                }
                <td>@p.Group</td>
                <td>
                    <div class="rate">@p.Rating</div>
                </td>
                <td>@p.Info</td>
            </tr>
        }
    </tbody>
</table>

