@{
    ViewData["Title"] = "Результаты поиска студентов по запросу " + ViewData["SearchName"];
    int i = 1;

}

<div id="ratings-header">
    <h3>Результаты поиска студентов по запросу @ViewData["SearchName"]</h3><br />
</div>
<table class="table ratings-table">
    <thead>
        <tr>
            <th>№</th>
            <th>П.І.Б.</th>
            <th>Група</th>
            <th>Рейтинг</th>
            <th>Додаткова інформація</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
            {
            <tr>
                <td>@(i++)</td>
                <td>@p.Name</td>
                <td>@p.Group</td>
                <td>
                    <div class="rate">@p.Rating</div>
                </td>
                <td>@p.Info</td>
            </tr>
        }
    </tbody>
</table>

@if (i == 1)
{
    <h2>По вашему запросу не найдено ни одного студента</h2>
    <h3>Попробуйте выполнить поиск снова</h3>
    <div class="form-group search-form input-group">
        <input class="form-control input-lg" id="search-field" type="text" autofocus="" placeholder="Введите имя студента ">
        <span class="input-group-btn">
            <a class="btn btn-default" id="search-button">Искать</a>
        </span>
    </div>

}
