@model List<StudentData>

@{
    ViewData["Title"] = "Результаты поиска студентов по запросу " + ViewData["SearchName"];
    int i = 1;

}

<div id="ratings-header">
    <h3>Результаты поиска студентов по запросу @ViewData["SearchName"]</h3><br />
</div>

@if (Model.Count == 0)
{
    <h2>По вашему запросу не найдено ни одного студента</h2>
    <h3>Попробуйте выполнить поиск снова</h3>
    <div class="form-group search-form input-group">
        <input class="form-control input-lg" id="search-field" type="text" autofocus="" placeholder="Введите имя студента ">
        <span class="input-group-btn">
            <a class="btn btn-default" id="search-button">Искать</a>
        </span>
    </div>

}
else
{
    <div>
        <a class="btn btn-info big-btn" asp-controller="Ratings" asp-action="SaveSearchDoc" asp-route-search="@ViewData["SearchName"]" target="_blank">Сохранить в формате .DOCX</a>
        <a class="btn btn-success big-btn" asp-controller="Ratings" asp-action="SaveSearchExcel" asp-route-search="@ViewData["SearchName"]" target="_blank">Сохранить в формате .EXCEL</a>
        <a class="btn btn-danger big-btn" asp-controller="Ratings" asp-action="SaveSearchPdf" asp-route-search="@ViewData["SearchName"]" target="_blank">Сохранить в формате .PDF</a>
    </div>
    <table class="table ratings-table table-hover">
        <thead>
            <tr>
                <th>№</th>
                <th>Имя студента</th>
                <th>Группа</th>
                <th>Рейтинг</th>
                <th>Дополнительная информация</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@(i++)</td>
                    @{
                        if (User.IsInRole("admin"))
                        {
                            <td><a asp-controller="Profile" asp-action="Student" asp-route-id="@p.Id">@p.Name</a></td>
                        }
                        else
                        {
                            <td>@p.Name</td>
                        }
                    }
                    <td>@p.Group</td>
                    <td>
                        <div class="rate">@p.Rating</div>
                    </td>
                    <td>@p.Info</td>
                </tr>
                        }
        </tbody>
    </table>

                        }

