@{
    ViewData["Title"] = "Топ-100 рейтингов";
    int i = 1;

}

<h2 class="page-title">Топ 100 рейтингов ХНУРЭ</h2><br />
<div>
    <a class="btn btn-info big-btn" asp-controller="Ratings" asp-action="SaveTopDoc" target="_blank">Сохранить в формате .DOCX</a>
    <a class="btn btn-success big-btn" asp-controller="Ratings" asp-action="SaveTopExcel" target="_blank">Сохранить в формате .EXCEL</a>
    <a class="btn btn-danger big-btn" asp-controller="Ratings" asp-action="SaveTopPdf" target="_blank">Сохранить в формате .PDF</a>
</div>
<table class="table ratings-table table-hover">
    <thead>
        <tr>
            <th>№</th>
            <th>Имя студента</th>
            <th>Группа</th>
            <th>Рейтинг</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
            {
            <tr>
                <td>@(i++)</td>
                @{
                    if (User.IsInRole("admin"))
                    {
                        <td><a asp-controller="Profile" asp-action="Student" asp-route-id="@p.Id">@p.Name</a></td>
                    }
                    else
                    {
                        <td>@p.Name</td>
                    }
                }
                <td>@p.Group</td>
                <td>
                    <div class="rate">@p.Rating</div>
                </td>
            </tr>
        }
    </tbody>
</table>



