@{
    ViewData["Title"] = "Топ-100 рейтингів";
    int i = 1;

}

<h3>SE 2nd Course</h3>
<table class="table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Group</th>
            <th>Rating</th>
            <th>Additional info</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
            {
            <tr>
                <td>@(i++)</td>
                <td>@p.Name</td>
                <td>@p.Group</td>
                <td>
                    <div class="rate" style='
                     background-color: @p.Color();
                     color: white;
                     border-radius: 3pt;
                     font-size: 11pt;
                     text-align: center;
                     font-family: "Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Hiragino Kaku Gothic Pro",Meiryo,"Malgun Gothic",sans-serif;
                     padding: 5px;'>
                        @p.Rating
                    </div>
                </td>
                <td>@p.Info</td>
            </tr>
        }
    </tbody>
</table>


