@model List<MarkInfo>

@{
    ViewData["Title"] = "Группa " + ViewBag.Group;
    int i = 1;
}
<h2 class="text-center">Группа @ViewBag.Group</h2>
<br />
@if (ViewData["MarksStatus"] != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Успех!</strong> @ViewData["MarksStatus"]
    </div>
}
<table class="table ratings-table">
    <thead>
        <tr>
            <th class="text-center">№</th>
            <th class="text-center">Студент</th>
            <th class="text-center">Семестр</th>
            <th class="text-center">Предмет</th>
            <th class="text-center">Преподаватель</th>
            <th class="text-center">Оценка</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td class="text-center">@(i++)</td>
                <td class="text-center">@p.StudentName</td>
                <td class="text-center">@p.Semester</td>
                <td class="text-center"><abbr title="@p.SubjectName">@p.SubjectAbbreviation</abbr></td>
                <td class="text-center"><a asp-controller="Profile" asp-action="Teacher" asp-route-teacherName="@p.TeacherName">@p.TeacherName</a></td>
                @if (p.MarkValue != null)
                {
                    <td><div class="mark rate">@p.MarkValue</div></td>
                    <td class="text-center"><a class="btn btn-success disabled">Добавить</a></td>
                    <td class="text-center"><a class="btn btn-warning" asp-controller="Marks" asp-action="Edit" asp-route-MarkId="@p.MarkId" asp-route-redir="1">Изменить</a></td>
                    <td><a class="btn btn-danger" asp-controller="Marks" asp-action="Delete" asp-route-MarkId="@p.MarkId" asp-route-redir="1">Удалить</a></td>

                }
                else
                {
                    <td><div class="mark rate">нет</div></td>
                    <td class="text-center"><a class="btn btn-success" asp-controller="Marks" asp-action="Add" asp-route-studentId="@p.StudentId" asp-route-subjectId="@p.SubjectId" asp-route-semesterId="@ViewBag.SemesterId">Добавить</a></td>
                    <td class="text-center"><a class="btn btn-warning disabled">Изменить</a></td>
                    <td><a class="btn btn-danger disabled">Удалить</a></td>

                }
            </tr>
        }
    </tbody>
</table>



